.menus-container {
    
    margin: 10px auto;
  }

  h3 {
    width: 300px;
    margin: 30px auto;
    text-align: center;
  }
  .menu {
    border-top: solid #e0850d;
    margin-top: 10px;
    padding-top: 20px;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }