.menus-container {
    
    margin: 10px auto;
  }

  .btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #d6851a;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #76684c;
    border-radius: 3px;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }

  h3 {
    width: 300px;
    margin: 30px auto;
    text-align: center;
  }
  .menu {
    border-top: solid #e0850d;
    margin-top: 10px;
    padding-top: 20px;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }